{% extends 'common/layout.twig' %}

{% set page = '404' %}
{% set title = 'Страница не найдена' %}

{% block header %}
  <h1 class="page-header__title-form center">Страница не найдена</h1>
{% endblock %}
